<div class="container">
  <div class="container-titulo">
    <h1 class="titulo">Projetos</h1>
  </div>

  <div class="container-flex">
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>(Em desenvolvimento)</p>
        <span class="botao">Saber mais</span>
      </div>
    </div>
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>Em breve</p>
        <span class="off">Saber mais</span>
      </div>
    </div>
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>Em breve</p>
        <span class="off">Saber mais</span>
      </div>
    </div>
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>Em breve</p>
        <span class="off">Saber mais</span>
      </div>
    </div>
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>Em breve</p>
        <span class="off">Saber mais</span>
      </div>
    </div>
    <div class="flex">
      <img src="../../assets/macbook-img.png" />
      <div class="container-text">
        <p>XXXXXXXXXXX</p>
        <p>Em breve</p>
        <span class="off">Saber mais</span>
      </div>
    </div>
  </div>
</div>
