<div class="container">
    <div class="container-flex">
        <div class="flex flex-img">

            <div class="borda-img">
                <img class="img-joao" src="../../assets/joao.jpg">
            </div>
        </div>

        <div class="container-text">
            <div class="flex text-flex">
                <span class="text1">Sobre mim</span>

                <span class="text2">Sou João Victor, estudante de Engenharia da Computação e apaixonado por
                    desenvolvimento web. Gosto de
                    criar aplicações funcionais e bem estruturadas, explorando tecnologias como Angular para construir
                    interfaces dinâmicas e eficientes.
                    Estou sempre buscando aprender algo novo, seja aprimorando minhas habilidades em front-end e
                    back-end ou
                    estudando conceitos mais avançados, como arquitetura de software. Para mim, programar vai além de
                    escrever código é encontrar soluções inteligentes para problemas reais.
                    Desafios me motivam, e cada projeto é uma oportunidade de evoluir e testar novos conhecimentos. Meu
                    objetivo é continuar crescendo na área e me tornar um desenvolvedor cada vez mais completo. </span>

            </div>
            <div class="flex contatos">
                <span class="curriculo">Download CV</span>
                <i class="pi pi-github" aria-hidden="true"></i>
                <i class="pi pi-linkedin" aria-hidden="true"></i>

                <i class="fa fa-envelope" aria-hidden="true"></i>

            </div>
        </div>
    </div>

</div>