.container {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color-card);

}




.container-flex {
    display: flex;
    width: 90%;
    gap: 5px;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 2px;



}

.flex {
    margin: 5px;
    width: auto;
    height: auto;
}

.text-flex {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
}

.contatos {
    display: flex;
    justify-content: start;
    /* Alinha horizontalmente */
    align-items: center;
    padding: 5px;
    margin-top: 15px;
    

}

.curriculo {

    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.156);
    color: rgba(14, 14, 14, 0.599);
    transition: all 0.3s ease;

}


.curriculo:active {
    transform: scale(0.97); /* Dá um efeito de clique */
  }

.pi-github,
.pi-linkedin,
.fa-envelope {
    font-size: 25px;
    color: rgb(71, 71, 71);
    padding: 5px;
    margin-left: 5px;
    margin-left: 5px;
    cursor: pointer;
    
}


.img-joao {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 100%;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.803);
}



.text1 {
    display: block;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text1-card);

}

.text2 {
    color: var(--text2-card);
    font-size: 18px;

}



@media screen and (max-width: 960px) {
    .container {}

    .container-flex {
        flex-direction: column;
        width: 90%;
        align-items: center;


    }

    .flex-img {
        justify-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 70%;
    }

    .img-joao {
        width: 160px;
        height: 160px;

    }

    .text-flex {
        justify-items: center;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 10px;
        text-align: center;

    }

    .text1 {

        padding-top: 30px;
    }

    .contatos {

        justify-content: center;
        /* Alinha horizontalmente */
    }

    .curriculo {
        padding: 8px 13px;
        
    }
}