<!--                  Web Containers                      -->


<nav id="containerId" class="container" >


    <a class="logo" >João Victor Curto de Almeida</a>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>



    </div>
    <ul class="nav-list" >
        
    <li><a class="inicio">Início</a></li>
    <li><a>Projetos</a></li>
    <li><a>Experiência</a></li>
    
    <li><a>Sobre mim</a></li>
    <div class="container-mode" (click)="toggleTheme()">
        <div class="mode">
            <i class="moon pi pi-moon"></i>
            <i class="sun pi pi-sun "></i>
    
    
        </div>
    </div>
       
    


</ul>



    <!--
    <div class="contatos off-flex" style="color: var(--text-color)">
        <div class="flex-icon">
            <i class="pi pi-github"></i>
        </div>
        <div class="flex-icon">
            <i class="pi pi-linkedin" aria-hidden="true"></i>

        </div>
        <div class="flex-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>

        </div>

    </div>


    <div class="flex-toggle off-flex">
        <div class="container-toggle " (click)="toggleTheme()">
            <div class="toggle dark-mode-toggle"></div>

        </div>

    </div>

    <div class="flex-info off-flex">
        <span class="info-mode1 info-on">Dark</span>
        <span class="info-mode2">Light</span>
    </div>

-->

</nav>









<!--             ==================  

     -->

<!-- <nav class="container-mobile  menu-off">
    <div class="menu-flex-mobile">
        <i class="pi pi-times" style="font-size: 1.4rem" (click)="menuMode()"></i>
        <div class="flex-toggle">
            <div class="container-toggle dark-mode-container" (click)="toggleTheme()">
                <div class="toggle-mobile dark-mode-toggle"></div>

            </div>
            <div class="flex-info">

                <span class="info-mode1-mobile info-on">Dark</span>
                <span class="info-mode2-mobile">Light</span>
            </div>

        </div>
    </div>
    <div class="flex-mobile margin">
        <span>Início</span>

    </div>

    <div class="flex-mobile">
        <span>Projetos</span>

    </div>
    <div class="flex-mobile">
        <span>Experiência</span>

    </div>

    <div class="flex-mobile">
        <span>Sobre mim</span>

    </div>

    <div class="contatos ">
        <span class="text-contatos">Contatos:</span>
        <div class="flex-icon">
            <i class="pi pi-github"></i>
        </div>
        <div class="flex-icon">
            <i class="pi pi-linkedin" aria-hidden="true"></i>

        </div>
        <div class="flex-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>

        </div>
    </div>




</nav>-->