<div class="container">
    <div class="container-text">
        <div class="flex-text">
            <a class="text1">Olá,<img class="img-class" src="../../assets/mao-emoji.png">Meu Nome é</a>
            <span class="text2">João Victor Curto,</span>
            <span class="text3">Angular front-end developer</span>
            <div class="botao-container">
                <span class="botao1">Projetos</span>

                <span class="botao2">Sobre min</span>
            </div>
        </div>
    </div>

    <div class="container-video">

        <div class="flex-video">
            <video #videoElement [attr.autoplay]="'true'" muted playsinline>
                <source src="assets/Macbook-Video.webm" type="video/webm">
                Seu navegador não suporta vídeos WebM.
            </video>

        </div>
    </div>


</div>