/* Configurações Base */

.container {
    display: flex;

}



.container-text,
.container-video {
    display: flex;
    width: 50vw;
    height: 100vh;

}

.flex-text,
.flex-video {
    display: flex;
    flex-direction: column;


}

/*  ============================================ */

.container-text {
    justify-content: center;
}

.container-video {
    justify-content: end;
   
   


}


.flex-text {
    justify-content: center;



}

.flex-video {

    align-self: end;
    width: 34vw;
    height: 72vh;
    justify-content: start;
   
}



video {
    width: 600px;
    height: 600px;

}



.text1 {
    font-size: 25px;
    color: white;
    text-shadow: 1px;

    font-weight: 100;

}



.text2 {
    color: white;
    font-size: 60px;
}

.text3 {
    color: white;
    font-size: 25px;
    font-weight: 100;

}

.text3 span {
    padding: 0px 5px;
    background-color: rgb(149, 149, 149);
}



.botao-container {

    margin-top: 25px;

}



.botao1 {
    padding: 5px 25px;
    margin: 5px;
    border-radius: 1px;
    background-color: white;
    color: rgb(97, 97, 97);
    border: 2px white solid;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: lighter;


}

.botao2 {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 1px;
    background-color: white;
    color: rgb(97, 97, 97);
    border: 2px white solid;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: lighter;
}

.botao1:hover,
.botao2:hover {
    border: 2px rgb(182, 182, 182) solid;

}


@media screen and (max-width: 2250px) {

    video {
        width: 530px;
        height: 530px;
    }
}



@media screen and (max-width: 2050px) {

    video {
        width: 520px;
        height: 520px;
    }
}





@media screen and (max-width: 1750px) {

    video {
        width: 500px;
        height: 500px;
    }
}


@media screen and (max-width: 1650px) {

    video {
        width: 490px;
        height: 490px;
    }
}

@media screen and (max-width: 1500px) {

    video {
        width: 420px;
        height: 520px;
    }
}

@media screen and (max-width: 1370px) {
    .flex-video {
        justify-content: center;
    }

    video {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1130px) {


    .flex-text,
    .flex-video {
        width: 100%;
        height: 35%;
    }

    .flex-video {
        align-items: end;
        justify-content: start;

    }

    video {
        width: 380px;
        height: 380px;
    }

    .text1 {
        font-size: 20px;


    }

    .text2 {
        font-size: 40px;

    }

    .text3 {
        font-size: 20px;

    }



    img {
        max-width: 35px;
        max-height: 35px;
    }
}

@media screen and (max-width: 1130px) {

    .container {
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container-text {
        width: 80vw;
        height: 80vh;
        align-items: start;
    }

    .flex-text {
        line-height: 1.5;
        justify-content: end;

        height: 45%;

    }

    .container-video {
        display: none;
    }


}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 960px) {




    .container-video {
        display: none;
    }



    .text1 {
        font-size: 18px;

    }

    .text2 {
        font-size: 35px;


    }

    .text3 {
        font-size: 18px;
    }

    .botao1,
    .botao2 {
        padding: 7px 15px;
        font-size: 17px;


    }

    img {
        max-width: 25px;
        max-height: 25px;
    }


}

@media screen and (max-width: 870px) {}



@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
    .container-text {

        align-items: start;
    }

    .flex-text {
        line-height: 1.5;
        justify-content: end;

        height: 45%;

    }
}