


.container-text {
    position: absolute;
    display: grid;
    place-items: center start;
    width: 100%; /* Ocupar toda a largura disponível */
    height: 300px; /* Ocupar toda a altura disponível */

   
}

.flex {
    display: flex;
   
}

video {
    width: 520px;
    height: 520px;
}
img {
    max-width: 25px;
    max-height: 25px;
}


.text1 {
    font-size: 25px;
    color: white;
    text-shadow: 1px;
    padding: 1px;
    font-weight: 100;

}

.flex img {
    margin-left: 10px;
    margin-right: 10px;

}

.text2 {
    color: white;
    font-size: 55px;
}

.text3 {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
    font-size: 25px;
    font-weight: 100;

}

.text3 span {
    padding: 0px 5px;
    background-color: rgb(149, 149, 149);
}

.flex-3d {
    width: 100%; /* Ocupar toda a largura disponível */
    height: 100%; /* Ocupar toda a altura disponível */
    max-width: 100vw; /* Não ultrapassar a largura da tela */
    max-height: 100vh; /* Não ultrapassar a altura da tela */
    display: flex; /* Melhor para responsividade */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.flex-3d spline-viewer {
    width: 100%;
    min-height: 100%;
}




.botao-container {
    display: flex;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    gap: 10px;
}

.botao1,
.botao2 {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 1px;
    background-color: white;
    color: rgb(97, 97, 97);
    border: 2px white solid;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: lighter;
}

.botao1:hover,
.botao2:hover {
    border: 2px rgb(182, 182, 182) solid;

}


@media screen and (max-width: 1500px) {

    .text1 {
        font-size: 40px;
        padding: 1px;

    }

    .text2 {

        padding-left: 5px;
        padding-right: 5px;
    }

    .botao1,
    .botao2 {
        padding: 5px 15px;
        font-size: 17px;
    }




    img {
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 1100px) {

    .text1 {
        font-size: 25px;
        padding: 1px;

    }

    .text2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .botao1,
    .botao2 {
        padding: 5px 15px;
        font-size: 15px;
    }

    img {
        max-width: 35px;
        max-height: 35px;
    }
}

@media screen and (max-width: 1080px) {
   
}

@media screen and (max-width: 1000px) {
    

  
}

@media screen and (max-width: 960px) {

    .container-text {
      position: relative;
        
    }


 

    .text1 {
        font-size: 18px;

    }

    .text2 {
        font-size: 35px;


    }

    .text3 {
        font-size: 18px;
    }

    .botao1,
    .botao2 {
        padding: 3px 10px;
        font-size: 15px;
    }

    img {
        max-width: 25px;
        max-height: 25px;
    }


}

@media screen and (max-width: 870px) {


   


}

@media screen and (max-width: 839px) {

    .flex-3d {
        display: none;
    }

    spline-viewer {
        display: none;
    }

}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 500px) {

    .botao1,
    .botao2 {
        padding: 7px 15px;
        font-size: 17px;
        margin: 1px;
    }


}