<div class="container">
    <div class="container-text">
        <div class="flex">
            <a class="text1">Olá,<img src="../../assets/mao-emoji.png">Meu Nome é</a>
            <span class="text2">João Victor Curto,</span>
            <span class="text3">Angular front-end developer</span>
            <div class="botao-container">
                <span class="botao1">Projetos</span>

                <span class="botao2">Sobre min</span>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="video-container">
            <video controls>
              <source src="../../assets/mockup-macbook-pro-copy.webm" type="">
              <!--<source src="seu-video.webm" type="video/webm">-->
              Seu navegador não suporta a tag de vídeo.
            </video>
            


        
    </div>

</div>