<div class="container">
    <div class="flex">
        
        <a class="text1">Olá!<img src="../../assets/mao-emoji.png" style=""> <br> Eu
            sou o João,<br> <span class="text2">desenvolvedor web</span> </a>
            
        <div class="botao-container">
            <span class="botao1">Projetos</span>

                <span class="botao2">Sobre min</span>
            </div>
        </div>

        <div class="flex-3d">
            <spline-viewer class="mac-3d" url="https://prod.spline.design/w9OvfAFH-1w50r0Q/scene.splinecode"></spline-viewer>
        </div>

    </div>